appdirs==1.4.4
berserk==0.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
chess==1.7.0
Deprecated==1.2.13
idna==3.3
importlib-metadata==4.8.1
keyring==23.2.1
lru-dict==1.1.7
ndjson==0.3.1
PyBluez==0.30
pygame==2.0.2
pyserial==3.5
pywin32-ctypes==0.2.0
requests==2.26.0
urllib3==1.26.7
wrapt==1.13.2
zipp==3.6.0
